.textBlack{
    font-family: Belgrano;
    color: #000814; 
}

.headerTxt12 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;

}

#generalContentCard12{
    display: flex;
    flex-direction: column;
    width: 60.156%;
    height: 100%;
}