.textBlack{
    font-family: Belgrano;
    color: #000814; 
}

.headerTxt12 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;

}

#generalContentCard12{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60.156%;
    height: 100%;
}

.varsText{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    margin-left: 12.8125vw;
    align-items: center;
    margin-bottom: 30px;
}
#twoValues{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 12.8125vw;
    width: 100%;
    height: auto;
    margin-bottom: 30px;

}
#generalContentCard13{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#dbIcon{
    color: #53606E;
    width: 24.8438vw ;
    height: auto;
}

#imageFilterDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#imagemapa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.heatMap {
    width: 65.677vw;
    height: auto;
    object-fit: contain;
}

#heatmapContentDiv{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 100%;
    height: 100%;
}
