
.logoDiv{
    min-width: 8.5vw;
    width: 8.69vw;
    height: 100%;
    margin-left: 1vw;
}
.logo{
    max-width: 8.69vw;
    min-width: 8.5vw;
    height: auto;
}
.cardHeader{
    display: flex;
    align-items: center;
    width: 100%;
    height: 108px;
}
.HeaderCols{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.logoDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
}
.headerTxt{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2.864vw;
    width: 90%;
    height: 100%;
}
.cardContent{
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    height: 707px;
}
.grayHeader{
    background-color: #53606E;
}

.imgBackground1{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
    object-fit: cover;
}
.imgBackground105{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 55%;
    z-index: -1;
    background-color: #53606E;
}

.textWhite{
    font-family: Belgrano;
    color: #FFFF; 
}
.contentTextPortada{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5vw;
    padding-bottom: 50px;
}

