.cardTitles{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 610px;
    height: auto;
}
.cardRightImage{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 610px;
}

.yellowHeader {
    background-color: #FFD60A;
}



.titleCenterText {
    display: flex;
    justify-content: center;
    width: 100%;

}

.navyHeader {
    background-color: #003566;
}
